.header {
    background-color: rgb(1, 113, 220);
    height: 1.5cm;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__title {
    color: #fff;
}

.header_searchBox {
    border: 2px solid blue;
}